<div class="row" style="margin-top: 20px;">

  <div class="col-sm-6" style="padding: 10px;">
    <img src="{{ '/assets/img/trainerbox2.jpeg' | relative_url }}" 
         alt="Image 1"
         class="teaser img-fluid z-depth-1"
         style="width:100%; border-radius:8px;">
  </div>

  <div class="col-sm-6" style="padding: 10px;">
    <img src="{{ '/assets/software.png' | relative_url }}" 
         alt="Image 2"
         class="teaser img-fluid z-depth-1"
         style="width:100%; border-radius:8px;">
  </div>

</div>
